---
title: Welcome to Middleman
---

<!-- Main -->
<div id="main">
  <div class="inner">
    <header>
      <h1>My Portfolio</h1>
      <p>I'm a geospatial web developer with a background in urban planning and policy. I build tools and visualizations that help planners and the public understand and engage with complex issues that affect their neighborhoods and cities.</p>
    </header>
    <section class="tiles">
      <%- data.projects.each do |project| %>
        <%= partial 'project', locals: project %>
      <% end %>
    </section>
    <header>
      <br/>
      <h1>Services</h1>
      <p>I provide custom data collection and visualization solutions with an emphasis on geospatial. I have worked with non-profits, universities, architecture firms, state agencies, and entrepreneurs. Don't hesitate to reach out!</p>
      <ul class="actions">
        <li><a href="mailto:wmattgardner@gmail.com" class="button special">Contact Me</a></li>
      </ul>
    </header>
  </div>
</div>
